/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

div[role=main] p {
   margin-bottom: 10px !important;
}

table.field-list td, table.field-list th {
   padding: 0 8px !important;
}